/*DEVELOPER: Emily Morales, IS117-006, Spring 2024 */

    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card {
    margin: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    height: auto;
    margin-top: 25px;
  }
  .card-img-top {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
  .img-fluid{
    height: 300px;
  }
  .badge{
    border-radius: 50px;
    margin-bottom: 10px;
  }
  .articletag{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 26px;
  }