/*DEVELOPER: Emily Morales, IS117-006, Spring 2024 */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(234, 214, 255);
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 0.5rem;
}
